

:root {
  --color-primary: #b89f20;
}

$color-text: rgb(0, 65, 246);


body {
  font-family: 'Monsterrat';
  h3 {
    background-color: var(--color-primary);
    color: $color-text;
    user-select: none;
    text-align: center;
  }
}